* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	width:100vw;
	gap:10px;
}
.image img{
	width:100%;
	height:auto;
	object-fit: cover;
}
.image{
	height:auto;
	width:100%;
}
.heading{
	font-weight:bolder;
	text-align:center;
}
.line2{
	display:block;
	text-align:center;
}

p{
	text-align:center;
	margin:10px;
}
.btn{
	margin-top:10px;
	height:30px;
	width:60%;
	color:white;
	background-color:red;
	display:flex;
	justify-content:center;
	align-items:center;
}
.content{
    display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
